// LOGO ---------------------------------------------------
.logo {
  width: 100px;
  object-fit: contain;
}

// SIDEBAR -----------------------------------------------
.sidebar_menu {
  background-color: #242424;
  width: 25vw;
  height: 100vh;
  flex: 1;
}

.sidebar_header {
  background-color: #131313;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 2px 10px;
}

.sidebar_name {
  color: white;
}

.sidebar_logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.sidebar_body {
  padding: 10px;
  color: white;
}

.sidebar_section {
  margin: 10px 0;
}

.sidebar_divider {
  background-color: #323232;
  height: 1px;
}

.sidebar_section_body {
  padding: 0 10px;
}

.sidebar_section_title {
  padding: 0 10px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
}

.sidebar_section_title_text {
  font-size: 50px;
}

#add_to_playlist_dropdown {
  color: white;
}

.selected_options {
  color: white;
  padding: 5px;
}

.not_selected_options {
  padding: 5px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    cursor: pointer;
    color: white;
  }
  color: rgb(117, 117, 117);
}
